pipeline/IF.json
{
	"name": "IF",
	"properties": {
		"activities": [
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "storage_dataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": "string"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n  formatDateTime(utcNow(),'yyyyMMdd'),\n  activity('Lookup2').output.firstRow.Prop_0\n)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "False",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "False",
								"value": "0"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "True",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "True",
								"value": "100"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yes",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pipelinefile": {
				"type": "string"
			}
		},
		"variables": {
			"True": {
				"type": "String"
			},
			"yes": {
				"type": "String"
			},
			"False": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-06T04:56:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}